  /* Ma page unique */

  body {
    max-width: 960px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
    margin: auto;
  }

  .contenu{
    position: relative;
    width: 100%;
    padding-top: 100%;
  }

  iframe{
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
    border: none;
  }

  /* Body de mes pages */

  h1 {
    margin-top: 10px;
    text-align: center;
  }

  h2 {
    margin-top: 10px;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  input{
    text-align: center;
  }

  textarea{
    text-align: center;
  }

  .crumble {
    min-height: 345px;
    background: url('../images/crumble_pommes.jpg');
    background-size: 100%;
    color: white;
    text-shadow: -2px 2px 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
  }

  /* Produits */

  #banner {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%)
  }

  .crumblerogne {
    min-height: 200px;
    background: url('../images/crumble_pommes_rogne.jpg');
    background-size: 100%;
    color: white;
    text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
  }

  .eclair {
    min-height: 200px;
    background: url('../images/eclair.jpg');
    background-size: 100%;
    color: white;
    text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
  }

  .macaron {
    min-height: 200px;
    background: url('../images/macaron.jpg');
    background-size: 100%;
    color: white;
    text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
  }

  .grosmacaron {
    min-height: 200px;
    background: url('../images/gros_macaron.jpg');
    background-size: 100%;
    color: white;
    text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
  }

  /* Références */

  .references {
    float: left;
  }

  /* Boites à images */

  .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
  }

  .box img {
    width: 100px;
    height: 100px;
  }

  /* Header/Navbar dropdown */

  .navbar {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Footer */

  footer {
    padding: 14px 16px;
    margin-top: 10px;
    color: white;
    background-color: #e8491d;
    text-align: center;
  }